################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project_Windows_04/FileContentIndex/2ae18a39-1e12-44e8-8108-67099a9e5c8d.vsidx
